<div class="container intervention-style">

  <%= form_tag(interventions_path) do %>

    <div class="col-6 fancy-form fancy-form-select">
      <div class="field" id="intervention_employee_id">
        <%= label_tag "employee", "Employee" %>
        <%= select_tag "employee", options_from_collection_for_select(Employee.order(:LastName), :id, :LastName, :include_blank => "Select an Employee") %>
      </div>
    </div>

    <div class="col-6 fancy-form fancy-form-select">                                        
      <div class="field" id="intervention_customer_id">
        <%= label_tag "customer", "Customer" %>      
        <%= select_tag "customer", options_from_collection_for_select(Customer.order(:NameOfContact), :id, :NameOfContact), {:include_blank => "Select a Customer", :required => true} %>
      </div>

      <div class="field" id="intervention_building_id">
        <%= label_tag "Building" %>
        <%= select_tag "building", options_from_collection_for_select(Building.order(:id), :id, :FullNameOfTheBuildingAdministrator), {:required => true} %>
      </div>

      <div class="field" id="intervention_battery_id">
        <%= label_tag "Battery" %>
        <%= select_tag "battery", options_from_collection_for_select(Battery.order(:id), :id, :id) %>
      </div>

      <div class="field" id="intervention_column_id">
        <%= label_tag "Column" %>
        <%= select_tag "column", options_from_collection_for_select(Column.order(:id), :id, :id) %>
      </div>

      <div class="field" id="intervention_elevator_id">
        <%= label_tag "Elevator" %>
        <%= select_tag "elevator", options_from_collection_for_select(Elevator.order(:id), :id, :id) %>
      </div>

      <div class="field">
        <%= label_tag "Report" %>
        <%= text_area_tag "report", nil, :required => true %>

          <button class="btn btn-danger" type="submit">SUBMIT</button>
      </div>
      <i class="fancy-arrow-"></i>
    </div>

  <% end %>
</div>
